
.dark .body a {
	color: #55f
}
/*.light #current_story .body {
	background: #fff;
	color: #000;
}
.dark #current_story .body {
	background: #2b2b2b;
	color: #eee;
}
.dark #current_story .body a {
	color: #55f
}*/
body.dark {
	background-image: url('../img/content_background_dark.png');
}
body {
	background-image: url('../img/content_background.png');

	font-family: sans-serif;
}

#wrapper {
	padding: 10pt;
}

#spinner-wrap {
	margin: 0 auto;
	width: 0; /* hacky, check later */
	float: left;
}
#status {
	position: fixed;
	right: 0;
	bottom: 0;

	width: 100%;
	padding: 10pt 0;
	text-align: center;

	background: #222;
	color: #eee;
}

/*h1 {
	font-size: 2em;
	margin-bottom: 8pt;
}*/
.dark .header{
	background: url('../img/header_bg_dark.png') #033828;
	border-bottom: 2px solid #1e1404;
}
.header {
	width: 100%;
	height: 120px;
	border-bottom: 2px solid #3e3424;
	background: url('../img/header_bg.png') #639888;
	cursor: pointer;
}
.dark .header h1 {
	background: url('../img/header_dark.png') no-repeat left;
}
.header h1 {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0;
	background: url('../img/header.png') no-repeat left;
}

.dark .story {
	background-color: #6d6652;
	color: #eee;
}
.story {
	padding: 10pt;
	background-color: #dfd9c9;
	color: #38362f;
	border-radius: 8px;
	margin-bottom: 10pt;
	font-size: 85%;
	box-shadow: 0px 1px 2px #38363f;
	cursor: pointer;
}
.story .head {
	margin-right: 20px;
}
.dark .story .head h2 {
	color: #ccc;
}
.story .head h2 {
	display: inline-block;
	font-size: 120%;
	margin-bottom: 6pt;
	color: #38352f;
	font-weight: bold;
}

.dark .story .body {
	background: #2b2b2b;
	color: #eee;
}
.story .body {
	margin: 3pt -8.5pt -8pt -8.5pt;
	padding: 8pt;
	background-color: #fff;
	border-radius: 2pt 2pt 5pt 5pt;
	line-height: 1.4;
}

.story .head .statback {
	position: relative;
	top: 0;
	right: -20px;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #4c4c4c;
	float: right;
	box-shadow: 0px 0px 3px #999;
}
.story .head .statbulb {
	position: relative;
	top: 2px;
	right: 2px;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	float: right;
}
.story .head .statbulb.notready {
	background: #c82222;
	box-shadow: inset 0px 0px 7px -4px black;
}
.story .head .statbulb.loading {
	-webkit-animation: bulb_blink 2s infinite;
	-moz-animation: bulb_blink 2s infinite;
	-ms-animation: bulb_blink 2s infinite;
	-o-animation: bulb_blink 2s infinite;

	box-shadow: inset 0px 0px 7px -4px black;
}
.story .head .statbulb.ready {
	background: #2b2;
	box-shadow: inset 0px 0px 7px -4px black;
}
.story .head .statbulb.stored {
	background: #66b;
	box-shadow: inset 0px 0px 7px -4px black;
}
@-webkit-keyframes bulb_blink {
	0%   { background: #bb2; }
	50%  { background: #442; }
	100% { background: #bb2; }
}
@-moz-keyframes bulb_blink {
	0%   { background: #bb2; }
	50%  { background: #442; }
	100% { background: #bb2; }
}
@-ms-keyframes bulb_blink {
	0%   { background: #bb2; }
	50%  { background: #442; }
	100% { background: #bb2; }
}
@-o-keyframes bulb_blink {
	0%   { background: #bb2; }
	50%  { background: #442; }
	100% { background: #bb2; }
}




.dark #current_story{
	background-color: #6d6652;
	color: #eee;
}

#current_story {
	padding: 10pt;
	background-color: #dfd9c9;
	color: #38362f;
	border-radius: 8px;
	margin-bottom: 10pt;
	font-size: 85%;
	box-shadow: 0px 1px 2px #38363f;
}
#current_story .head {
	margin-right: 30px;
	cursor: pointer;
}
.dark #current_story .head h2 {
	color: #ddd;
}
#current_story .head h2 {
	display: inline-block;
	font-size: 120%;
	margin-bottom: 6pt;
	color: #38352f;
	font-weight: bold;
}
.dark #current_story .back-from-story {
    background: #5f5949;
}
.dark #current_story .head:hover .back-from-story {
    background: #4f4939;
}
#current_story .back-from-story {
	display: block;
	position: relative;
	top: -8pt;
	right: -31pt;
	float: right;
	text-align: center;

	border-radius: 5pt 5pt 2pt 2pt;

    background: #bfb9a9;
}
#current_story .head:hover .back-from-story {
    background: #afa999;
}
#current_story .back-from-story i {
	display: block;
	margin: 8pt 8pt 8pt 11pt;
}
#current_story .body {
	margin: 3pt -8.5pt -8pt -8.5pt;
	padding: 8pt;
	background-color: #fff;
	border-radius: 2pt 2pt 5pt 5pt;
}

#current_story .body h2 {
	display: none;
}
#current_story .body a {
	display: none;
}
#current_story .body p a {
	display: inline;
}
#current_story .body h1 {
	margin: -1.5em;
	height: 0;
	display: block;
	visibility: hidden;
	font-size: 1em;
}
#current_story .body h3 {
	font-weight: bold;
	font-size: 120%;
	margin-bottom: 6pt;
	margin-top: 2em;
}

/* following lifted right from FimFic's current stuff */
#current_story .body {
	line-height: 1.9em;
	font-family: Georgia;
	color: #444;
	padding: 20px;
	text-align: justify;
	word-wrap: break-word;
	font-size: 100%;
}
#current_story .body p.indented {
	text-indent: 3em;
}
#current_story .body p.double {
	margin-top: 1.5em;
}


.light #current_story .body {
	background: #fff;
	color: #000;
}
.dark #current_story .body {
	background: #2b2b2b;
	color: #eee;
}

.serif #current_story .body {
	font-family: Georgia, serif;
}
.sans #current_story .body {
	font-family: Helvetica, sans-serif;
}
.mono #current_story .body {
	font-family: monospace;
}


.story-controls {
	display: block;

	position: fixed;
	bottom: 0;

	color: #eee;

	border-radius: 5pt 5pt 0 0;

    background: #333; /* Old browsers */
    background: -moz-linear-gradient(top, #333 0%, #2b2b2b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #333 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #333 0%,#2b2b2b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333 0%,#2b2b2b 100%); /* IE10+ */
    background: linear-gradient(top, #333 0%,#2b2b2b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
}
.story-controls.control {
	right: 12pt;
}

.story-controls .change {
	display: inline-block !important;
	text-decoration: none;
	color: #fff;
}
.story-controls.control .change {
	padding: 8pt 11pt 8pt 15pt;
}
.story-controls .change:hover {
    background: #444; /* Old browsers */
    background: -moz-linear-gradient(top, #444 0%, #3b3b3b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#3b3b3b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #444 0%,#3b3b3b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #444 0%,#3b3b3b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #444 0%,#3b3b3b 100%); /* IE10+ */
    background: linear-gradient(top, #444 0%,#3b3b3b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#3b3b3b',GradientType=0 ); /* IE6-9 */
}
.story-controls .change:active {
    background: #2d2d2d; /* Old browsers */
    background: -moz-linear-gradient(top, #2d2d2d 0%, #242424 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d2d2d), color-stop(100%,#242424)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2d2d2d 0%,#242424 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2d2d2d 0%,#242424 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2d2d2d 0%,#242424 100%); /* IE10+ */
    background: linear-gradient(top, #2d2d2d 0%,#242424 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#242424',GradientType=0 ); /* IE6-9 */
}
.story-controls.control .change:first-child {
	border-radius: 5pt 0 0 0;
}
.story-controls.change .change:last-child {
	border-radius: 0 5pt 0 0;
}
.light .icon-bg:before {
	content: '\e7a0'; /* show moon */
}
.dark .icon-bg:before {
	content: '\2600'; /* show sun */
}

#footer .head {
	cursor: pointer;
}
#footer .head i {
	display: block;
	text-align: center;
}
#footer .body {
	display: none;
}


.dark #footer {
	background-color: #6d6652;
	color: #ddd;
}
#footer {
	padding: 0 10pt 1pt 10pt;
	background-color: #dfd9c9;
	color: #38362f;
	border-radius: 8px;
	margin-top: 20pt;
	margin-bottom: 10pt;
	font-size: 85%;
	box-shadow: 0px 1px 2px #38363f;
}
#footer .head {
	padding: 11pt 0 10pt;
	cursor: pointer;
}

.dark #footer .body {
	background: #2b2b2b;
	color: #eee;
}
#footer .body {
	margin: 0 -8.5pt 0.5pt -8.5pt;
	padding: 8pt;
	background-color: #fff;
	border-radius: 2pt 2pt 5pt 5pt;
	line-height: 1.4;
}
#footer a {
	text-decoration: none;
	color: #55d;
}
#footer .body p {
	margin-bottom: 5pt;
}
#footer .body p:last-child {
	margin-bottom: 0;
}