body {
	background-color: #eee8d8; /* yep, direct lift from fimfiction, I'm a terrible person etc */
	background-image: url('../img/content_background.png');

	font-family: sans-serif;
}

#wrapper {
	padding: 10pt;
}

#spinner-wrap {
	margin: 0 auto;
	width: 0; /* hacky, check later */
	float: left;
}
#status {
	position: fixed;
	right: 10pt;
	bottom: 0;

	width: 100%;
	padding: 10pt 0;
	text-align: center;

	background: #222;
	color: #eee;
}

h1 {
	font-size: 2em;
	margin-bottom: 8pt;
}

.story {
	padding: 10pt;
	background-color: #dfd9c9;
	color: #38362f;
	border-radius: 8px;
	margin-bottom: 10pt;
	font-size: 85%;
	box-shadow: 0px 1px 2px #38363f;
	cursor: pointer;
}
.story .head {
	margin-right: 20px;
}
.story .head h2 {
	display: inline-block;
	font-size: 120%;
	margin-bottom: 6pt;
	color: #38352f;
	font-weight: bold;
}
.story .body {
	margin: 3pt -8.5pt -8pt -8.5pt;
	padding: 8pt;
	background-color: #fff;
	border-radius: 0 0 5pt 5pt;
}

.story .head .statback {
	position: relative;
	top: 0;
	right: -20px;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #555;
	float: right;
	box-shadow: 0px 0px 3px #999;
}
.story .head .statbulb {
	position: relative;
	top: 2px;
	right: 2px;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	float: right;
}
.story .head .statbulb.notready {
	background: #b22;
	box-shadow: 0px 0px 10px #b22;
}
.story .head .statbulb.loading {
	-webkit-animation: bulb_blink 2s infinite;
	-moz-animation: bulb_blink 2s infinite;
	-ms-animation: bulb_blink 2s infinite;
	-o-animation: bulb_blink 2s infinite;
}
.story .head .statbulb.ready {
	background: #2b2;
	box-shadow: 0px 0px 10px #2b2;
}
@-webkit-keyframes bulb_blink {
	0%   { background: #bb2; box-shadow: 0px 0px 10px #bb2; }
	50%  { background: #442; box-shadow: 0px 0px 5px  #442; }
	100% { background: #bb2; box-shadow: 0px 0px 10px #bb2; }
}
@-moz-keyframes bulb_blink {
	0%   { background: #bb2; box-shadow: 0px 0px 10px #bb2; }
	50%  { background: #442; box-shadow: 0px 0px 5px  #442; }
	100% { background: #bb2; box-shadow: 0px 0px 10px #bb2; }
}
@-ms-keyframes bulb_blink {
	0%   { background: #bb2; box-shadow: 0px 0px 10px #bb2; }
	50%  { background: #442; box-shadow: 0px 0px 5px  #442; }
	100% { background: #bb2; box-shadow: 0px 0px 10px #bb2; }
}
@-o-keyframes bulb_blink {
	0%   { background: #bb2; box-shadow: 0px 0px 10px #bb2; }
	50%  { background: #442; box-shadow: 0px 0px 5px  #442; }
	100% { background: #bb2; box-shadow: 0px 0px 10px #bb2; }
}





#current_story {
	padding: 10pt;
	background-color: #dfd9c9;
	color: #38362f;
	border-radius: 8px;
	margin-bottom: 10pt;
	font-size: 85%;
	box-shadow: 0px 1px 2px #38363f;
}
#current_story .head h2 {
	display: inline-block;
	font-size: 120%;
	margin-bottom: 6pt;
	color: #38352f;
	font-weight: bold;
}
#current_story .body {
	margin: 3pt -8.5pt -8pt -8.5pt;
	padding: 8pt;
	background-color: #fff;
	border-radius: 0 0 5pt 5pt;
}

#current_story .body h2 {
	display: none;
}
#current_story .body a {
	display: none;
}
#current_story .body p a {
	display: inline;
}
#current_story .body h1 {
	margin: -1.5em;
	height: 0;
	display: block;
	visibility: hidden;
	font-size: 1em;
}
#current_story .body h3 {
	font-weight: bold;
	font-size: 120%;
	margin-bottom: 6pt;
	margin-top: 2em;
}

/* following lifted right from FimFic's current stuff */
#current_story .body {
	line-height: 1.9em;
	font-family: Georgia;
	color: #444;
	padding: 20px;
	text-align: justify;
	word-wrap: break-word;
}
#current_story .body p.indented {
	text-indent: 3em;
}
#current_story .body p.double {
	margin-top: 1.5em;
}


.light #current_story .body {
	background: #fff;
	color: #000;
}
.dark #current_story .body {
	background: #222;
	color: #eee;
}
.dark #current_story .body a {
	color: #55f
}

.serif #current_story .body {
	font-family: Georgia, serif;
}
.sans #current_story .body {
	font-family: Helvetica, sans-serif;
}
.mono #current_story .body {
	font-family: monospace;
}


#story-controls {
	display: block;

	position: fixed;
	right: 10pt;
	bottom: 0;

	background: #333;
	color: #eee;

	border-radius: 5pt 5pt 0 0;
	box-shadow: 0px 0px 0px 1px #000;
}

#story-controls .change {
	display: inline-block !important;
	padding: 8pt 15pt;
	text-decoration: none;
	color: #fff;
}
#story-controls .change:hover {
	background: #555;
}
#story-controls .change:first-child {
	border-radius: 5pt 0 0 0;
}
#story-controls .change:last-child {
	border-radius: 0 5pt 0 0;
}
.light #story-controls .change-color {
	background: #333;
	color: #fff;
}
.dark #story-controls .change-color {
	background: #ccc;
	color: #222 !important;
}
.light #story-controls .change-color:hover {
	background: #555 !important;
}
.dark #story-controls .change-color:hover {
	background: #aaa !important;
}
.serif #story-controls .change-font {
	font-family: Helvetica, sans-serif;
}
.sans #story-controls .change-font {
	font-family: monospace;
}
.mono #story-controls .change-font {
	font-family: Georgia, serif;
}