@font-face {
  font-family: 'fim-offline-icons';
  src: url("../font/fim-offline-icons.eot");
  src: url("../font/fim-offline-icons.eot?#iefix") format('embedded-opentype'), url("../font/fim-offline-icons.woff") format('woff'), url("../font/fim-offline-icons.ttf") format('truetype'), url("../font/fim-offline-icons.svg#fim-offline-icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fim-offline-icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.7;
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
/* fix buttons height */
  line-height: 1em;
/* you can be more comfortable with increased icons size */
/* font-zize: 120%; */
}

.icon-plus:before { content: '\2b'; } /* '+' */
.icon-minus:before { content: '\2d'; } /* '-' */
.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-sun-inv:before { content: '\2600'; } /* '☀' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-font:before { content: '\e779'; } /* '' */
.icon-moon-inv:before { content: '\e7a0'; } /* '' */